{% load static %}
{% if request.user.is_authenticated %}
<li class="nav-item display-none w-25 align-self-center">
  <div class="container">
    <ul class="nav d-flex justify-content-end">
      <li class="nav-item"> 
        <!-- Notificações -->
        <div class="dropdown">
          <button class="btn btn-large rounded-circle notification-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-bell"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu">
            <li class="dropdown-item">Notificações</a></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul> 
        </div>
      </li>


      <!-- BOX Usuário -->
      <li class="nav-item">
         <div class="dropdown">
            <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.user.all %}
                {% for item in request.user.user.all %}
                  {% if item.photoProfile.url != None %}
                    <div id="photo-dropdown">
                      <img src="{{ item.photoProfile.url }}" alt="User Name">
                    </div>  
                  {% else %}
                    <img src="{% static 'img/user.png' %}" style="max-width:40px;" class="rounded-circle" alt="User Name">
                  {% endif %}  
                {% endfor %}    
              {% else %}
                <img src="{% static 'img/user.png' %}" style="max-width:40px;" class="rounded-circle" alt="User Name">
              {% endif %}      
              {% if msg %}
              <span class="alert_photo_dropdown" alt="Complete seu perfil">
                <i class="fa-solid fa-exclamation"></i>
              </span>
              {% endif %}
              
            </span>
            <ul class="dropdown-menu dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'core:user_profile' pk=request.user.username %}">
                  <i class="fa-solid fa-user text-dark me-2"></i> Perfil
                  {% if msg %}
                  <span class="alert_text_dropdown" alt="Complete seu perfil">
                    <i class="fa-solid fa-exclamation"></i>
                  </span>
                  {% endif %}
                </a>  
              </li>
              <li><a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-gear text-dark me-2"></i> Configurações e privacidade</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-question text-dark me-2"></i> Ajuda e suporte</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket text-secondary me-2"></i> Sair</a></li>
            </ul>
          </div>
      </li>   
   </ul> 
  </div>
</li>

<!-- Responsive Block -->
<li class="nav-item display-block w-auto align-self-center">
  <div class="container">
    <ul class="nav d-flex justify-content-end">
      <li class="nav-item"> 
        <!-- Notificações -->
        <div class="dropdown">
          <button class="btn btn-large rounded-circle notification-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-bell"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu">
            <li class="dropdown-item">Notificações</a></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul> 
        </div>
      </li>


      <!-- BOX Usuário -->
      <li class="nav-item">
         <div class="dropdown">
            <span class="" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if request.user.user.all %}
                {% for item in request.user.user.all %}
                  {% if item.photoProfile.url != None %}
                    <div id="photo-dropdown">
                      <img src="{{ item.photoProfile.url }}" alt="User Name">
                    </div>  
                  {% else %}
                    <img src="{% static 'img/user.png' %}" style="max-width:40px;" class="rounded-circle" alt="User Name">
                  {% endif %}  
                {% endfor %}    
              {% else %}
                <img src="{% static 'img/user.png' %}" style="max-width:40px;" class="rounded-circle" alt="User Name">
              {% endif %}      
              {% if msg %}
               <span class="alert_photo_dropdown" alt="Complete seu perfil">
                <i class="fa-solid fa-exclamation"></i>
              </span>
              {% endif %}
            </span>
            <ul class="dropdown-menu dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'core:user_profile' pk=user.username %}">
                  <i class="fa-solid fa-user me-2 text-dark"></i> Perfil
                  {% if msg %}
                  <span class="alert_text_dropdown" alt="Complete seu perfil">
                    <i class="fa-solid fa-exclamation"></i>
                  </span>
                  {% endif %}
                </a>  
              </li>
              <li><a class="dropdown-item" href="#"><i class="fa-sharp fa-solid fa-gear me-2 text-dark"></i> Configurações e privacidade</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa-solid fa-circle-question me-2 text-dark"></i> Ajuda e suporte</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket me-2 text-secondary"></i> Sair</a></li>
            </ul>
          </div>
      </li>   
   </ul> 
  </div>
</li>  
{% endif %}
