<!-- Search Bar -->
<section class="display-none col-5 col-md-6 align-self-center ">
  <div class="d-flex justify-content-center">
    <div class="input-group box-search-header d-flex justify-content-center">
      <span class="input-group-text search-icon" id="basic-addon1">
        <i class="fa fa-search text-secondary ps-2"></i>
      </span>
      <input type="text" id="filter" class="filter" placeholder="Pesquisar na My Itens ..."/>
    </div>             
  </div>
</section>  
<!-- Responsive Search Bar -->
<section class="display-block col-4 col-md-6 align-self-center ">
  <div class="d-flex justify-content-left">
    <div class="box-search-header">
      <button type="button" id="responsive_button_search" class="btn">
        <span class="search-icon " >
          <i class="fa fa-search text-secondary px-1"></i>
        </span>
      </button>
      <div id="container_search_field" class="hide">
        <input type="text" id="filter" class="filter" placeholder="Pesquisar na My Itens ..."/>
      </div>
      
    </div>             
  </div>
</section>  