{% extends 'core/base.html' %}
{% load static %}
{% block content %}
	{% include 'core/header.html' %}
	<main>
		<section class="col-3 col-md-3 display-none">
			
		</section>
		<section class="col-6 col-md-6 align-self-center d-flex justify-content-center">	
		    <div id="posts-container"></div>

		    <div class="loader">
		      <div class="circle"></div>
		      <div class="circle"></div>
		      <div class="circle"></div>
		    </div>
		</section>    
	    <section class="col-3 col-md-3 display-none">
	    	
	    </section>
	</main>
	<footer>

	</footer>
    
{% endblock %}
