<form id="form_cadastro_wrap" name="form_cadastro" class="mt-3" action="{% url 'accounts:new_user' %}"  method="POST" enctype="multipart/form-data">
  
        {% if msg %}
            <label class=" {{class}} w-100 text-center">
                <i class="fa-solid fa-triangle-exclamation"></i> {{msg}}
            </label>
        {% endif %} 
        {% if error %}
           <span class="text-muted">{{ error }}</span>
        {% endif %}

    <div id="form_cadastro" class="mb-4">
        <div class="input-group mb-3 border-bottom">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white border-0">
                    <i class="fa-solid fa-user text-m2"></i>
                </span>
            </div>
            <input class="form-control border-0" type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="Nome">
        </div>    
       
        <div class="input-group mb-3 border-bottom">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white border-0">
                    <i class="fa-solid fa-envelope text-m2"></i>
                </span>
            </div>
            <input class="form-control border-0" type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
        </div>
          
        <div class="input-group mb-3 border-bottom">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white border-0">
                    <i class="fa-solid fa-lock text-m2"></i>
                </span>
            </div>
            <input class="form-control border-0" type="password" name="password" id="id_password" placeholder="Senha" style="width: 0;" />
            <span class="input-group-append">
                <button id="showpassword" class="btn btn-sm border-0" type="button" style="background:transparent;">
                    <i id="icon_show_password" class="fa-solid fa-eye text-m2" title="Mostrar Senha"></i>
                </button>
            </span>
        </div>  
    </div>
    <div class="mb-4">
        <label class="container_checkbox mb-3 text-m2">Concordo com os <a class="text-m4" href="#">Termos de Uso</a> da My Itens.
            <input class="checkbox" type="checkbox" name="termos" id="check_termos"/>
            <span class="checkmark" for="check_termos"></span>
        </label>
    </div>
   <div style="display:none;"> {{form_user.management_form}}</div>
    <input type="hidden" value="6QS5FJzZUlWFfsI40rkpejqPShvQoGdX" name="csrfmiddlewaretoken">
    {% csrf_token %}
    <div class="d-flex justify-content-center">
        <button class="btn bg-m2 text-white fw-bolder" name="btn_criar_conta" type="submit" id="btn_new_user" disabled>Criar Conta</button>
    </div>
</form>


