/* font-family */
.font-light{
  font-family: 'lemon-light';
}
.font-light-italic{
  font-family: 'lemon-light-italic';
}
.font-bold{
  font-family: 'lemon-bold';
}
.font-bold-italic{
  font-family: 'lemon-bold-italic';
}
.font-medium{
  font-family: 'lemon-medium';
}
.font-medium-italic{
  font-family: 'lemon-medium-italic';
}
.font-regular{
  font-family: 'lemon-regular';
}
.font-regular-italic{
  font-family: 'lemon-regular-italic';
}
/* cores para o background  */
.bg-m1{
  background: #33BABE !important;
}
.bg-opacity-m1{
  background: #33BABE !important;
  opacity: 76% !important;
}
.bg-m2{
  background: #434343 !important;
}
.bg-m3{
  background: #838383 !important;
}
.bg-m4{
  background: rgb(3, 168, 162) !important;
}
.bg-opacity-m4{
  background: rgb(3, 168, 162, 0.9) !important;
}
/* Cores dos textos */
.text-m1{
  color: #33BABE !important;
}
.text-m2{
  color: #434343 !important;
}
.text-m3{
  color: #838383 !important;
}
.text-m4{
  color: rgb(3, 168, 162, 0.9) !important;
}
.text-m5{
  color: #FFF !important;
}
