body{
  max-width: 100% !important;
}
a{
  text-decoration: none !important;
}
input{
  outline: none;
}
.display-block{
  display: none;
}
.box_shadow{
  box-shadow: darkgray 2px 3px 7px 5px !important;
}

/*******************************************
 0.0 - Load Page
********************************************/
  #load-body{
    background: #434343;
    width: 100vw;
    height: 100vh;
    max-height: 100vh !important;
    position: absolute;
    overflow: hidden;
  }
  #load-logo-box{
    display: flex;
    justify-content: center;
    padding: 12vh 0;
    margin-bottom: 12vh;
  }
  #load-logo-box img{
    width: 25%;
    opacity: 76%;
  }
  #load-text-box{
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  #load-text-box p{
    font-family: 'lemon-light-italic';
    font-size: 1.2rem;
    opacity: 76%;
    font-weight: 500;
  }
  #load-text-box>p>span{
    font-family: 'lemon-bold-italic' !important;
    font-weight: bolder;
  }
  #footer-load-box{
    object-fit: cover;
  }
  #footer-design-1{
    width: 0px;
    height: 0;
    border-top: 37vw solid transparent;
    border-bottom: 15vw solid #ABA8B2;
    border-right: 100vw solid #ABA8B2;
    margin-top: -15vw;
    position: absolute;
    z-index: 998;
    opacity: 76%;
  }
  #footer-design-2{
    width: 0px;
    height: 0;
    border-top: 35vw solid transparent;
    border-bottom: 4vw solid #03A8A2;
    border-left: 60vw solid #03A8A2;
    opacity: 0.3;
    position: absolute;
    z-index: 999;
    margin-top: -15px;
  }

/*******************************************
 1.0 - Header 
********************************************/
#wrap-header {
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  max-height: 75px;
  border-bottom: 1px solid blueviolet;
}
#wrap-header ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
#wrap-header ul li:last-child{
}
/*********************************************
  1.1 - Header - Logo 
 *********************************************/
.title-app{
  color: white;
  font-weight: bolder;
  margin: 10px 0 !important;
  font-size: 1.2rem;
  opacity: 0.9;
  display: block;
  padding-left: 15px ;
}
/*********************************************
  1.2 - Header - Search
 *********************************************/
.box-search-header{
  width: 90vw !important;
}
.filter {
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
  border: none;
}

.search-icon{
  background: #fff !important;
  border: none !important;
  border-radius: 25px 0 0 25px !important;
}

/*********************************************
  1.3 - Header - Notificação/Login 
 *********************************************/
.notification-btn{
  min-height: 35px;
  max-width: 40px;
  margin-top: 1px;
  margin-right: 10px;
  background: #FFF !important;
  color: #556080 !important;
}
.box-header-user{
  margin-right: 10px;
}
#photo-dropdown{
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 2px solid;
  max-height: 40px;
  border-radius: 50%;
  overflow: hidden;
  color: rgb(255, 255, 255, 0.9);
}
#photo-dropdown img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.alert_photo_dropdown{
    border-radius: 50%;
    color: #FFF;
    background-color: red;
    position: absolute;
    padding: 2px 7px;
    font-size: 5pt;
    font-weight: bold;
    font-family: 'Font Awesome 6 Free';
    left: 30px;
}

.alert_text_dropdown{
    border-radius: 50%;
    color: #FFF;
    background-color: red;
    position: absolute;
    padding: 5px 10px;
    font-size: 5pt;
    font-weight: bold;
    font-family: 'Font Awesome 6 Free';
    margin-left: 130px;
}

/****************************************************
  2.0 - Main 
****************************************************/
/*******  2.1 - Main - Login  **********/
.container-main{
  background-color: #FFF;
  display:block;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.logo-box{
  display: flex;
  justify-content: center;
  background: #434343;
  position: relative;
  z-index: 300;
}

.box-footer{
  background-image: linear-gradient(45deg, #5d8f8e 50%,  #838383 50%);
  position: relative;
  z-index: 100;
}
.box-footer label[name="myitens"]{
  font-family: 'lemon-light-italic';
  display: block;
  padding-right: 5vw;
  text-align: end;
  font-size: 1.2rem;
  opacity: 30%;
  position: relative;
  font-weight: 500;
  z-index: 150;
  top: -8vh;
  margin: 0;
}
.box-footer label[name="myitens"] span{
  font-family: 'lemon-bold-italic' !important;
  font-weight: bolder;
}
.login-content{
  z-index: 200;
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  min-height: 392px;
}
.logo-box>a>img{
  width: 20%;
  margin-top: 5vh;
  opacity: 80%;
}
.header-triangulo{
  background: #434343;
  border-top: 18vh solid transparent;
  border-bottom: 0vh solid transparent;
  width: 0;
  border-right: 100vw solid #FFF;
  height: 0;
}
.footer-triangulo{
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 20vh solid transparent;
  border-left: 100vw solid #FFF;
}
#box_login{
  position: relative;
}
#form-login{}
#form-login p[name="alert"]{
  position: absolute;
  top: -10vh;
  width: 80%;
  z-index: 9999;
}
#form-login p[name="alert"]:before{
  opacity: 0.3;
}

/*******  2.2 - Main - Cadastro  **********/
#box_cadastro{
  display: flex;
  justify-content: center;
}
#box_cadastro section{
  box-shadow: darkgray 2px 3px 7px 5px;
  max-width: 450px;
  min-width: 350px;
}

/* Customize the label (the container) */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid rgb(3, 168, 162, 0.9) !important;
  border-radius: 3px;
  background-color: #FFF;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: rgb(3, 168, 162, 0.3) ;
  opacity: 0.65;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: rgb(3, 168, 162, 0.9) !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*******  2.3 - Main - Cadastro  **********/
#container-feed{
  max-width: 470px;
  height: 100vh;
}
#main-feed{
  max-height: 92vh;
  overflow: auto;
}
#navigation-footer{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0vw;
  display: grid;
  align-content: center;
}
#navigation-footer ul{
  width: 100%;
  margin:0 auto;
  font-size: 1.7rem;
}
/*******  2.4 - Main - Profile User  **********/
#header_profile{
  max-width: 1250px;
}
#header_profile nav{
  margin-left: 25px;
  margin-right: 25px;
}
/*******  2.4.1 - Photo de Capa **********/
#cover_photo{
  
  max-height: 462px;
}
  #cover_photo img{
  width: 100%;
  }
  #cover_photo div{
    position: relative;
    top: -80px;
  }
    #cover_photo div button{
     opacity: 0.9;
    }
    #cover_photo div button i{
     color: #FFF;
    }
    #cover_photo div button label{
     color: #FFF;
     font-weight: bold;
    }
/*******  2.3.2 - Photo do Usuário **********/
#box_profile_picture{
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}
  #profile_picture{
    max-width: 180px;
    max-height: 180px;
    min-width: 180px;
    min-height: 180px;
    overflow: hidden;
    border: 3px solid deepskyblue;
    border-radius: 50%;
  }
    #profile_picture div{
    }
    #profile_picture div img{
      width: 100%;
      height: 180px;
      object-fit:cover;
    }
    #profile_picture button{
      position: absolute;
      border-radius: 50%;
      z-index: 950;
      opacity: 0.9;
      margin: -65px 0 0 135px;
      padding: 6px 10px;

    }
  #profile_picture_title{    
    min-height: 180px;
    padding-left: 20px;
    padding-top: 50px;
  } #profile_picture_title ul li a{
    }
    #profile_picture_title div{
      display: block;
      width: 100%;
    }
    #profile_picture_title h1{
      font-weight: bold;
    }  
  #profile_picture_edit{
    display: inline-block;
    min-height: 180px;
  }
    #profile_picture_edit div button{
      opacity: 0.9;
    }
      #profile_picture_edit div button label{
        font-weight: bold;
        color: #FFF;
      }
#main_profile{
  max-width: 100%;
  margin: 0 20px;
  display: flex;
  padding-top: 10px;
}      
/*******  2.3.3 - Informações do usuário **********/
  #info_user_profile{
    width: 38%;
    margin-right: 15px;     
  }
/*******  2.3.4 - Informações do usuário **********/
  #timeline_in_profile{
    width: 57%;
  }

  /*******  2.3.5 - Informações do usuário **********/
  .wmodal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #000000f2;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    display: none;
}

.wmodal{
    width: 100%;
    min-width:400px;
    max-width: 700px;
    min-height: 200px;
    max-height: 800px;
    overflow: auto;
    background-color: #212529;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
.wmodal::-webkit-scrollbar{
  width: 8px;
}
.wmodal::-webkit-scrollbar-track{
}
.wmodal::-webkit-scrollbar-thumb{
  background:rgba(255, 255, 255, 0.19);
  border-radius: 20px;
}
.window-modal-title{
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.fechar{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #00000062;
    color: #fff;
    font-weight: 700;
    font-size: 14pt;
    cursor: pointer;
}

.fechar:hover{
  background-color: #ffffff62;
}

.wmodal h1{
    margin-bottom: 20px;
    font-size: 1.25rem;
}
.wmodal input[type="file"]{
  display: none;
}
.wmodal label[name="gallery-0-original"]{
  background-color: rgba(45, 136, 255, 0.3);
  text-align: center;
  cursor: pointer;
  color: #2D88FF;
  display: block;
  padding: 8px 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: .9375rem;
}
.wmodal label[name="gallery-0-original"]:hover{
  background-color: rgba(45, 136, 255, 0.1);
}

.wmodal label[name="photoCapa"]{
  background-color: rgba(45, 136, 255, 0.3);
  text-align: center;
  cursor: pointer;
  color: #2D88FF;
  display: block;
  padding: 8px 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: .9375rem;
}
.wmodal label[name="photoCapa"]:hover{
  background-color: rgba(45, 136, 255, 0.1);
}

.wm-photo h2{
  font-weight: bold;
  font-size: 1.1rem;
  color: #FFF;
}
.wm-photo ul{
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;
}
.wm-photo li{
  margin-right: 8px;
}
.wm-photo li:last-child{
  margin-right: 0;
}  
.wm-photo li:hover{
  opacity: 0.4;
}
.wm-photo img{
  width: 110px;
  height: 110px;
  object-fit: cover;
}
@keyframes animate-wmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.wmodal-container.mostrar{
    display: flex;
}

.mostrar .wmodal{
    animation: animate-wmodal .3s;
}
#form_update_bio div{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
#form_update_bio textarea{
  resize: none;
  border-radius: 20px;
  max-height: 15vh;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
}
#form_update_bio button{
  width: 40%;
}

/*******  2.4 - Main - Preview foto de perfil  **********/
.picture {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  background: #ddd;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #aaa;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}

.picture img{
  width: 100%;
  object-fit: cover;
}

.picture__image{
  max-width: 100%;
}
#preview{
}
div[name="preview"]  {
  overflow:hidden;
  max-height: 900px;
  transition: max-height 1.3s ease-in-out, opacity .5s linear;
}

div[name="preview"].hidee {
  max-height: 0;
  pointer-events: none;
}
.croppie-container .cr-resizer, .croppie-container .cr-viewport {
  border: none !important;
}
#boxButtonsPreview{
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#boxButtonsPreview button{
  font-size: .9375rem;
}


/*******  2.4 - Main - Posts  **********/
.post {
  position: relative;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  margin: 40px 0;
  display: flex;
  width: 80vw;
  max-width: 800px;
}

.post .post-title {
  margin: 0;
  color: #0dcaf0 !important;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.3;
}

.post .post-info {
  margin-left: 20px;
}


.post .number {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  color: #296ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}


.circle {
  background-color: #0dcaf0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px)
  }
}

