body{
  max-width: 100% !important;
}
a{
  text-decoration: none !important;
}
.display-block{
  display: none;
}
.box_shadow{
  box-shadow: darkgray 2px 3px 7px 5px !important;
}
/*******************************************
 1.0 - Header 
********************************************/
#wrap-header {
  z-index: 1000;
  position: fixed;
  display: block;
  width: 100%;
  max-height: 75px;
  background-color: #0dcaf0;
  border-bottom: 1px solid blueviolet;
}
/*********************************************
  1.1 - Header - Logo 
 *********************************************/
.title-app{
  color: white;
  font-weight: bolder;
  margin: 10px 0 !important;
  font-size: 18pt;
  display: block;
  padding-left: 15px ;
}
/*********************************************
  1.2 - Header - Search
 *********************************************/
.box-search-header{
  width: 90% !important;
}
.filter {
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
  border: none;
}

.search-icon{
  background: #fff !important;
  border: none !important;
  border-radius: 25px 0 0 25px !important;
}

/*********************************************
  1.3 - Header - Notificação/Login 
 *********************************************/
.notification-btn{
  min-height: 40px;
  max-width: 40px;
  margin-top: 1px;
  margin-right: 10px;
  background: #FFF !important;
  color: #556080 !important;
}
.box-header-user{
  margin-right: 10px;
}
/****************************************************
  2.0 - Main 
****************************************************/
main{
  top: 50px;
  position: relative;
  /*background: #fff;*/
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 100px;
}
/*******  2.1 - Main - Login  **********/
#box_login{
  box-shadow: darkgray 2px 3px 7px 5px;
}
/*******  2.2 - Main - Cadastro  **********/
#box_cadastro{
  box-shadow: darkgray 2px 3px 7px 5px;
}

/* Customize the label (the container) */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #0dcaf0!important;
  border-radius: 3px;
  background-color: #FFF;
}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #0dcaf0;
  opacity: 0.65;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #0dcaf0!important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*******  2.3 - Main - Posts  **********/
.post {
  position: relative;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 20px;
  margin: 40px 0;
  display: flex;
  width: 80vw;
  max-width: 800px;
}

.post .post-title {
  margin: 0;
  color: #0dcaf0 !important;
}

.post .post-body {
  margin: 15px 0 0;
  line-height: 1.3;
}

.post .post-info {
  margin-left: 20px;
}


.post .number {
  position: absolute;
  top: -15px;
  left: -15px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  color: #296ca8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
}


.circle {
  background-color: #0dcaf0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px)
  }
}

