{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main class="container-main">
    <div class="logo-box">
        <a class="d-flex justify-content-center" href="{% url 'core:home' %}">
            <img src="{% static 'img/logo.png' %}">
        </a>
    </div>

    <div class="header-triangulo"></div>
    <div class="login-content">
        <section class="px-3"  >
            <h3 class="text-center text-secondary fw-bold pb-3">Crie sua conta</h3>
            <div class="mx-3 my-3">
                {% include 'includes/form_cadastro.html' %}
            </div>
            <small class="text-center text-m2 px-2 d-block">Para saber como tratamos os seus dados pessoais, acesse o nosso <a class="text-m4 text-center" href="#">Aviso de Privacidade</a>.</small>
        </section>
    </div>
    <div class="box-footer">
        <div class="footer-triangulo"></div>

        <label name="myitens" class="text-white">
            <span>MY</span> ITENS
        </label>
    </div>
</main>


{% endblock %}
