{% extends 'core/base.html'%}
{% load static %}
{% block content %}
{% if request.user == user %}
	<section class="container py-4">
		<h2 class="border-bottom pb-3 title-2 mb-4 text-secondary">
			<i class="fa-solid fa-user text-info mr-2"></i> Atualizar
		</h2>
		<div class="container">
			<form id="form_update_user" method="POST" action="."  enctype="multipart/form-data">
				{% csrf_token %}			
				<div id="form_update_02" class="form-inline mb-2">
					{% for item in user_form %}
						<div class="form-group">
							{{item}}
						</div>
					{% endfor %}
				</div>
				{{profile_form.management_form}}

					<div id="form_update_01" class="form-inline">
						{% for item in profile_form %}
							<div class="form-group w-100">
								{{item}}
							</div>	
						{% endfor %}
					</div>
						
							
				<button class="btn btn-info text-white mr-3" type="submit">Atualizar</button>
				<button type="button" class="btn btn-outline-info" onclick="location.href='{% url 'accounts:user_detail' pk=request.user.id %}'">Cancelar</button>
			</form>
		</div>	
	</section>
{% else %}
  {% include 'includes/permission_msg.html' %}
{% endif %}
{% endblock %}

