{% extends 'core/base.html' %}
{% block title %}
	{{block.super}} - Perfil 
{% endblock title %}
{% load static %}
{% block content %}
	{% if request.user.is_authenticated %}
		<div id="container_profile" class="container">
			<section id="header_profile" class="w-100">
				{% include 'accounts/profile/header_profile.html' %}
			</section><!-- /HEADER PROFILE -->
			<section id="main_profile">
				<div id="info_user_profile">
					{% include 'accounts/profile/info_user.html' %}
				</div><!-- Info User -->
				<div id="timeline_in_profile">
					{% include 'accounts/profile/timeline_profile.html' %}
				</div><!-- /Posts TimeLine -->
			</section><!-- /Section Main Profile -->	
		</div><!-- /CONTAINER -->
		
		{% include 'accounts/profile/edit_bio.html' %}
		{% include 'accounts/profile/edit_photo_cover.html' %}
		{% include 'accounts/profile/edit_profile.html' %}
		{% include 'accounts/profile/photo.html' %}	
			
	{% else %}	
		{% include 'includes/permission_msg.html' %}
	{% endif %}
{% endblock %}