{% load static %}
<header id="wrap-header">
    <div class="row">
      <!-- LOGO -->
      <section class="col-md-3 text-left">
        <label class="title-app">
            My Itens
        </label>
      </section>
      <!-- Search Bar -->
      <section class="col-md-6 align-self-center d-flex justify-content-center">
        <div class="input-group box-search-header d-flex justify-content-center">
          <span class="input-group-text search-icon" id="basic-addon1">
            <i class="fa fa-search text-secondary ps-2"></i>
          </span>
          <input type="text" id="filter" class="filter" placeholder="Pesquisar na My Itens ..."/>
        </div>             
      </section>
      <!-- Box Info -->
      <section class="col-md-3 align-self-center">
       {% include 'core/header/box_right.html' %}
      </section>
    </div>
</header>
 