{% load static %}
{% if request.user.is_authenticated %}
<header id="wrap-header" class="bg-m2">
  <ul class="row">
    <!-- LOGO -->
     <li class="col">
      <a href="{% url 'core:home' %}">
        <label class="title-app font-light-italic">
            <span class="font-bold-italic">My</span> Itens
        </label>
      </a>
    </li>

    <!-- Box Info -->
    <li class="col align-self-center">
      <div class="container">
        <ul class="nav d-flex justify-content-end">
          <li class="nav-item">
            <!-- Notificações -->
            <div class="dropdown">
              <button class="btn btn-large rounded-circle notification-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-regular fa-bell"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu">
                <li class="dropdown-item">Notificações</a></li>
                <li><hr class="dropdown-divider"></li>

              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
{% endif %}
