{% load static %}
<header id="wrap-header" class="sticky-top">
    <div class="row">
      <!-- LOGO -->
      <section class="display-none w-25 text-left">
        <a href="{% url 'core:home' %}">
          <label class="title-app">
              My Itens
          </label>
        </a>
      </section>
      <!-- LOGO RESPONSIVE -->
       <section class="col w-auto display-block text-left">
        <a href="{% url 'core:home' %}">
          <label class="title-app">
              My Itens
          </label>
        </a>
      </section>
      {% include 'core/header/search.html' %}
      <!-- Box Info -->
      <section class="w-auto col align-self-center">
       {% include 'core/header/box_right.html' %}
      </section>
    </div>
</header>
 