{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <div id="load-body" class="">
        <div class="container">
            <div id="load-logo-box">
                <img src="{% static 'img/logo.png' %}">
            </div>
            <div id="load-text-box">
                <p class="text-center text-white pb-3">
                    <span>MY</span> ITENS
                </p>
            </div>
        </div>

        <div id="footer-load-box">
            <div id="footer-design-1"></div>
            <div id="footer-design-2"></div>
        </div>
    </div>
{% endblock %}
