{% extends "core/base.html" %}
{% block title %}Redefinir senha{% endblock %}
{% load static %}
{% block content %}

<main class="container-main">
    <div class="logo-box">
        <a class="d-flex justify-content-center" href="{% url 'core:home' %}">
            <img src="{% static 'img/logo.png' %}">
        </a>
    </div>

    <div class="header-triangulo"></div>
    <div class="login-content">
        <h3 class="text-secondary pb-4 text-center fw-bolder text-m2 mb-3">
            <i class="fa-solid fa-lock text-m4 me-3"></i> Esqueceu a sua Senha ?
        </h3>


        <form class="px-4" action="." method="POST">
            <strong class="text-secondary py-2 d-block text-center mb-4">Digite seu email para obter uma nova senha.</strong>
            <div class="mb-4 px-3">
                <div class="input-group border-bottom mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text border-0 bg-white">
                            <i class="fa-solid fa-envelope text-m2"></i>
                        </span>
                    </div>
                    <input class="form-control border-0" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email">
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <button class="btn bg-m2 text-white fw-bolder me-3" type="submit">Alterar Senha</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="box-footer">
        <div class="footer-triangulo"></div>

        <label name="myitens" class="text-white">
            <span>MY</span> ITENS
        </label>
    </div>
</main>

{% endblock %}
