{% load static %}
<div id="modal-container-bio" class="wmodal-container">
    <div class="wmodal">
        <button class="fechar" id="fechar">X</button>
        {% if msg %}
            <p>{{msg}}</p>
        {% endif%}
        <div class="window-modal-title mb-3">
            <h1 class="text-white text-center fw-bold pt-3">Editar biografia</h1>
        </div>
        <div class="container px-3 pb-3">
            <form id="form_update_bio" method="POST" action="{% url 'accounts:edit_bio' pk=request.user.id %}"  enctype="multipart/form-data">
                 {% csrf_token %}

                {% for item in form_bio %}
                    <div>{{item}}</div>
                {% endfor%}
                <div>
                    <button class="btn btn-outline-secondary text-white me-3" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
